<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Shikashi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ShikashiPrototype.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Shikashi.Properties.Settings>
            <setting name="AuthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthExpirationTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FullScreenshotHotkeyFirst" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="FullScreenshotHotkeySecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FullScreenshotHotkeyThird" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="FullScreenshotHotkeyValue" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="RegionalScreenshotHotkeyFirst" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="RegionalScreenshotHotkeySecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RegionalScreenshotHotkeyThird" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="RegionalScreenshotHotkeyValue" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="WindowedScreenshotHotkeyFirst" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="WindowedScreenshotHotkeySecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowedScreenshotHotkeyThird" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="WindowedScreenshotHotkeyValue" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="SaveScreenshots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFormat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SaveQuality" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="UploadFormat" serializeAs="String">
                <value>png</value>
            </setting>
            <setting name="CopyLinksToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundEffects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BalloonMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunchBrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskedForStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SSLEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Shikashi.Properties.Settings>
        <ShikashiPrototype.Properties.Settings>
            <setting name="AuthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthExpirationTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FullScreenshotHotkeyFirst" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="FullScreenshotHotkeySecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FullScreenshotHotkeyThird" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="FullScreenshotHotkeyValue" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="RegionalScreenshotHotkeyFirst" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="RegionalScreenshotHotkeySecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RegionalScreenshotHotkeyThird" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="RegionalScreenshotHotkeyValue" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="WindowedScreenshotHotkeyFirst" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="WindowedScreenshotHotkeySecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowedScreenshotHotkeyThird" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="WindowedScreenshotHotkeyValue" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="SaveScreenshots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFormat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SaveQuality" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="UploadFormat" serializeAs="String">
                <value>png</value>
            </setting>
            <setting name="CopyLinksToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundEffects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BalloonMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunchBrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditScreenshot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskedForStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </ShikashiPrototype.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>