<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="hyperdesktop2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
 <userSettings>
  <hyperdesktop2.Properties.Settings>
   <setting name="AuthKey" serializeAs="String">
    <value />
   </setting>
   <setting name="AuthExpirationTime" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CurrentUser" serializeAs="String">
    <value />
   </setting>
   <setting name="FullScreenshotHotkeyFirst" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="FullScreenshotHotkeySecond" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FullScreenshotHotkeyThird" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="FullScreenshotHotkeyValue" serializeAs="String">
    <value>51</value>
   </setting>
   <setting name="RegionalScreenshotHotkeyFirst" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="RegionalScreenshotHotkeySecond" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RegionalScreenshotHotkeyThird" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="RegionalScreenshotHotkeyValue" serializeAs="String">
    <value>52</value>
   </setting>
   <setting name="WindowedScreenshotHotkeyFirst" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="WindowedScreenshotHotkeySecond" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="WindowedScreenshotHotkeyThird" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="WindowedScreenshotHotkeyValue" serializeAs="String">
    <value>53</value>
   </setting>
  </hyperdesktop2.Properties.Settings>
 </userSettings>
</configuration>
