<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net45" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net45" requireReinstallation="true" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Windows.Shell" version="3.0.1.0" targetFramework="net45" />
  <package id="ModernWPF" version="1.4.6" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
</packages>